<form>
  <div class="Title"><h3> Contact us </h3></div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter your given name">
    </div>
    <div class="form-group col-md-6">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter your surname">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
    </div>
    <div class="form-group col-md-4">
      <label for="phonenum">Phone #</label>
      <input type="text" class="form-control" id="phonenum" placeholder="(XXX) XXX-XXXX">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="comments">Comments</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
     <label for="select">Select Reason</label>
     <select id="select" class="form-control" placeholder="Comments">
       <option>Request help</option>
       <option>Hatemail</option>
       <option>Donate</option>
     </select>
   </div>
   <div class="form-group col-md-6">
     <label for="radio">Best way to contact</label>
     <div class="radio">
       <label>
         <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
         Phone
         </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Email
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
        Other
      </label>
    </div>
  </div>
</div>

  <button type="btn" class="btn btn-default">Submit</button>
</form>
